.auth-box {
    display: grid;
    min-height: 300px;
    min-width: 700px;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 0px;
    row-gap: 0px;
    border-radius: 10px;
    // box-shadow: 2px 2px 8px 5px rgba(255, 255, 255, 0.1);

    .auth-box-form {
        height: 100%;
        width: 300px;
        color: #ffff;
        background-color: #ffb300;
        border-radius: 0px 10px 10px 0px;
        text-align: center;
        padding: 10px;
    }
    .auth-box-image {
        height: 100%;
        width: 400px;
        background-color: #ffb300;
        border-radius: 10px 0px 0px 10px;
    }
}

.bg-dot {
    position: fixed;
    height: 100%;
    width: 100%;
    background: radial-gradient(rgb(255, 182, 24) 10%, transparent 10%) 0% 0% / 25px 25px, rgb(52, 57, 69);
}
