html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }

.text-color {
  color: black;
}

.centered {
  top: 50%; /* IMPORTANT */
  left: 50%; /* IMPORTANT */
  display: block;
  position: absolute;

  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

@import "auth", "loading", "tailwindcss/base", "tailwindcss/components", "tailwindcss/utilities";
